@import "./consts";
@import "./mixins";

* {
  margin: 0;
  padding: 0;
  user-select: none;
  ::-webkit-scrollbar {
    width: 0;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  &::-webkit-scrollbar {
    display: none; /*hrome, Safari and Opera */
  }
}

body {
  color: $text-color;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.LandingPage {
  height: 100vh;
  min-height: 100vh;
  background: linear-gradient(
    -45deg,
    $light-warm-color,
    $dark-warm-color,
    $light-cold-color,
    $dark-cold-color
  );
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;

  .container {
    height: 100vh;
    min-height: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: rgb(0, 0, 0);
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );

    .content {
      margin: 5rem 0;
      max-width: 50%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .hello,
      .heading {
        text-align: center;

        margin: 0;
        font-weight: 100;
        font-size: 9vh;
      }

      &::after,
      &::before {
        content: "";
        display: block;
        align-self: center;
        width: 100%;
        height: 1px;
        background-color: $text-color;
      }
    }

    .navigate {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;

      width: fit-content;
      margin: 1.5rem;

      background: rgba($text-color, 0.1);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(10.8px);
      -webkit-backdrop-filter: blur(10.8px);

      h6 {
        font-weight: 100;
        font-size: 3vh;
        padding: 0.5rem;
        margin: 1rem;
        cursor: pointer;
      }
    }
  }
}

.AboutMe {
  padding-top: 5rem;
  background-color: black;
  color: $light-warm-color;

  display: flex;
  flex-direction: column;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 5rem;
    padding: 1rem 3rem;
    font-size: 3vh;

    .content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      margin: 5rem 0;

      .text {
        max-width: 40%;
        min-width: 18rem;
        margin: auto;
      }

      .skills {
        margin: auto;
        margin-top: 3rem;
        max-width: 60%;

        .SkillsIcons {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;

          .item {
            margin: 2rem 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            svg {
              fill: $light-warm-color;
              transform: scale(2);
              margin: 0.5rem;
            }
          }
        }
      }
    }
  }
}

.Projects {
  background-color: black;

  color: $light-warm-color;
  display: flex;
  flex-direction: column;
  svg {
    fill: rgba($light-cold-color, 0.4);
  }

  .container {
    width: 100%;
    background-color: rgba($light-cold-color, 0.4);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 3vh;

    img {
      border-radius: 16px;
      -webkit-box-shadow: 8px 7px 24px 0px rgba(0, 0, 0, 1);
      -moz-box-shadow: 8px 7px 24px 0px rgba(0, 0, 0, 1);
      box-shadow: 8px 7px 24px 0px rgba(0, 0, 0, 1);
      max-width: 80%;
      position: relative;
    }

    .content {
      &:nth-last-child(2) {
        flex-direction: row;
      }

      margin: 3rem;
      max-width: 100%;

      display: flex;
      flex-direction: row-reverse;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      .text {
        margin: 1.5rem 2rem;
        max-width: 50%;
        min-width: 18rem;

        a {
          color: $light-warm-color;
        }

        .button {
          width: fit-content;
          height: 3vh;
          margin-top: 2vh;
          padding: 1vh;

          display: flex;
          justify-content: space-between;
          align-items: center;

          font-size: 2.5vh;
          border: solid 1px $light-warm-color;
          transition: all 0.5s;

          svg {
            fill: $light-warm-color;
            margin: 0.5vh;
          }

          a {
            text-decoration: none;
            margin: 0.5vh;
          }

          &:hover {
            transform: translateY(-1vh);
          }
        }
      }

      .images {
        max-width: 40%;
        min-width: 18rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
          margin: 2rem 0;
        }
      }
    }
    .gallery {
      width: 100%;
      margin: 1rem;

      .item {
        text-align: center;

        img {
          max-width: 40vw;
          min-width: 18rem;
          margin-bottom: 1rem;
        }
      }
    }
  }

  .carousel {
    display: flex;
    justify-content: center;
    align-items: center;

    .carousel-slider {
      overflow: visible;
    }

    .control-dots {
      bottom: -4vh;
    }
  }
}

.Contact {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3 {
    color: $light-warm-color;
    font-size: 3vh;
    margin: 2rem;
  }

  form {
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: $light-warm-color;

    label {
      font-size: 3vh;
    }

    input,
    textarea {
      height: 2rem;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid $light-cold-color;
      color: $light-warm-color;
      font-size: 2vh;
      width: 100%;

      &:focus {
        outline: none;
      }

      &::placeholder {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
      }

      &[type="submit"] {
        background-color: rgba($light-warm-color, 0.7);
        text-align: center;
        color: black;
        border: none;
        border-radius: 16px;
        width: 70%;
        transition: all 0.5s;
        cursor: pointer;

        &:hover {
          background-color: rgba($light-warm-color, 1);
        }
      }
    }

    textarea {
      height: 15rem;
      resize: vertical;
    }
  }

  .links {
    margin: 2rem auto 4rem auto;
    svg {
      fill: $light-warm-color;
      transform: scale(1.5);
      margin: 0.5rem;
    }
  }
}

.ScrollToTop {
  width: fit-content;
  position: fixed;
  bottom: 0;
  right: 0;

  margin: 2vh;
  cursor: pointer;
  svg {
    fill: $light-warm-color;
    opacity: 0.6;
  }
}

.Alert {
  width: 20%;
  min-width: fit-content;
  height: 5vh;

  position: fixed;
  top: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 1rem;
  padding: 0.5rem;
  font-size: 2vh;
  background: rgba($text-color, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.8px);
  -webkit-backdrop-filter: blur(10.8px);
}
