@import "./consts";
@import "./mixins";

* {
  margin: 0;
  padding: 0;
  user-select: none;
  ::-webkit-scrollbar {
    width: 0;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  &::-webkit-scrollbar {
    display: none; /*hrome, Safari and Opera */
  }
}

body {
  color: $text-color;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
}
