* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  /* Track */
}
* ::-webkit-scrollbar {
  width: 0;
}
* ::-webkit-scrollbar-track {
  border-radius: 10px;
}
*::-webkit-scrollbar {
  display: none; /*hrome, Safari and Opera */
}

body {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.LandingPage {
  height: 100vh;
  min-height: 100vh;
  background: linear-gradient(-45deg, #f3ec78, #9c4a1a, #756c63, #423930);
  background-size: 400% 400%;
  -webkit-animation: gradient 10s ease infinite;
          animation: gradient 10s ease infinite;
}
.LandingPage .container {
  height: 100vh;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
}
.LandingPage .container .content {
  margin: 5rem 0;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.LandingPage .container .content .hello,
.LandingPage .container .content .heading {
  text-align: center;
  margin: 0;
  font-weight: 100;
  font-size: 9vh;
}
.LandingPage .container .content::after, .LandingPage .container .content::before {
  content: "";
  display: block;
  align-self: center;
  width: 100%;
  height: 1px;
  background-color: white;
}
.LandingPage .container .navigate {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 1.5rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.8px);
  -webkit-backdrop-filter: blur(10.8px);
}
.LandingPage .container .navigate h6 {
  font-weight: 100;
  font-size: 3vh;
  padding: 0.5rem;
  margin: 1rem;
  cursor: pointer;
}

.AboutMe {
  padding-top: 5rem;
  background-color: black;
  color: #f3ec78;
  display: flex;
  flex-direction: column;
}
.AboutMe .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  padding: 1rem 3rem;
  font-size: 3vh;
}
.AboutMe .container .content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5rem 0;
}
.AboutMe .container .content .text {
  max-width: 40%;
  min-width: 18rem;
  margin: auto;
}
.AboutMe .container .content .skills {
  margin: auto;
  margin-top: 3rem;
  max-width: 60%;
}
.AboutMe .container .content .skills .SkillsIcons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.AboutMe .container .content .skills .SkillsIcons .item {
  margin: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.AboutMe .container .content .skills .SkillsIcons .item svg {
  fill: #f3ec78;
  transform: scale(2);
  margin: 0.5rem;
}

.Projects {
  background-color: black;
  color: #f3ec78;
  display: flex;
  flex-direction: column;
}
.Projects svg {
  fill: rgba(117, 108, 99, 0.4);
}
.Projects .container {
  width: 100%;
  background-color: rgba(117, 108, 99, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
}
.Projects .container img {
  border-radius: 16px;
  box-shadow: 8px 7px 24px 0px rgb(0, 0, 0);
  max-width: 80%;
  position: relative;
}
.Projects .container .content {
  margin: 3rem;
  max-width: 100%;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.Projects .container .content:nth-last-child(2) {
  flex-direction: row;
}
.Projects .container .content .text {
  margin: 1.5rem 2rem;
  max-width: 50%;
  min-width: 18rem;
}
.Projects .container .content .text a {
  color: #f3ec78;
}
.Projects .container .content .images {
  max-width: 40%;
  min-width: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Projects .container .content .images img {
  margin: 2rem 0;
}
.Projects .container .gallery {
  width: 100%;
  margin: 1rem;
}
.Projects .container .gallery .item {
  text-align: center;
}
.Projects .container .gallery .item img {
  max-width: 40vw;
  min-width: 18rem;
  margin-bottom: 1rem;
}
.Projects .carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Projects .carousel .carousel-slider {
  overflow: visible;
}
.Projects .carousel .control-dots {
  bottom: -4vh;
}

.Contact {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Contact h3 {
  color: #f3ec78;
  font-size: 3vh;
  margin: 2rem;
}
.Contact form {
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: #f3ec78;
}
.Contact form label {
  font-size: 3vh;
}
.Contact form input,
.Contact form textarea {
  height: 2rem;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #756c63;
  color: #f3ec78;
  font-size: 2vh;
  width: 100%;
}
.Contact form input:focus,
.Contact form textarea:focus {
  outline: none;
}
.Contact form input::-moz-placeholder, .Contact form textarea::-moz-placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.Contact form input:-ms-input-placeholder, .Contact form textarea:-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.Contact form input::placeholder,
.Contact form textarea::placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.Contact form input[type=submit],
.Contact form textarea[type=submit] {
  background-color: rgba(243, 236, 120, 0.7);
  text-align: center;
  color: black;
  border: none;
  border-radius: 16px;
  width: 70%;
}
.Contact form textarea {
  height: 15rem;
  resize: vertical;
}
.Contact .links {
  margin: 2rem auto 4rem auto;
}
.Contact .links svg {
  fill: #f3ec78;
  transform: scale(1.5);
  margin: 0.5rem;
}

.ScrollToTop {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 2vh;
}
.ScrollToTop svg {
  fill: #f3ec78;
  opacity: 0.6;
}

.Alert {
  width: 20%;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  height: 5vh;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 0.5rem;
  font-size: 2vh;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.8px);
  -webkit-backdrop-filter: blur(10.8px);
}/*# sourceMappingURL=styles.css.map */