@import "../../Styles/consts";
@import "../../Styles/mixins";

.Projects {
  background-color: black;

  color: $light-warm-color;
  display: flex;
  flex-direction: column;
  svg {
    fill: rgba($light-cold-color, 0.4);
  }

  .container {
    width: 100%;
    background-color: rgba($light-cold-color, 0.4);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 3vh;

    img {
      border-radius: 16px;
      -webkit-box-shadow: 8px 7px 24px 0px rgba(0, 0, 0, 1);
      -moz-box-shadow: 8px 7px 24px 0px rgba(0, 0, 0, 1);
      box-shadow: 8px 7px 24px 0px rgba(0, 0, 0, 1);
      max-width: 80%;
      position: relative;
    }

    .content {
      &:nth-last-child(2) {
        flex-direction: row;
      }

      margin: 3rem;
      max-width: 100%;

      display: flex;
      flex-direction: row-reverse;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      .text {
        margin: 1.5rem 2rem;
        max-width: 50%;
        min-width: 18rem;

        a {
          color: $light-warm-color;
        }

        .button {
          width: fit-content;
          height: 3vh;
          margin-top: 2vh;
          padding: 1vh;

          display: flex;
          justify-content: space-between;
          align-items: center;

          font-size: 2.5vh;
          border: solid 1px $light-warm-color;
          transition: all 0.5s;

          svg {
            fill: $light-warm-color;
            margin: 0.5vh;
          }

          a {
            text-decoration: none;
            margin: 0.5vh;
          }

          &:hover {
            transform: translateY(-1vh);
          }
        }
      }

      .images {
        max-width: 40%;
        min-width: 18rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
          margin: 2rem 0;
        }
      }
    }
    .gallery {
      width: 100%;
      margin: 1rem;

      .item {
        text-align: center;

        img {
          max-width: 40vw;
          min-width: 18rem;
          margin-bottom: 1rem;
        }
      }
    }
  }

  .carousel {
    display: flex;
    justify-content: center;
    align-items: center;

    .carousel-slider {
      overflow: visible;
    }

    .control-dots {
      bottom: -4vh;
    }
  }
}

.buttons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5em;
}
